@import './carousel.css';

// Your customize CSS
body {
  overflow-x: hidden;
}

* {
  font-family: 'Montserrat', 'AdobeInvisFont', 'MyriadPro-Regular';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

button,
a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none;
  color: #000
}

a:hover {
  text-decoration: none;
  color: #000
}

button {
  background: none;
  border: none
}

/* header start */
.logo,
.share {
  margin-left: 20%;
}

.header {
  height: 600px;
  width: 100%;
  background-color: #dddddd;
}

.nav {
  background-color: #dddddd;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header ul li a {
  color: rgba(22, 25, 24, 255);
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-weight: 100;
}

.sec-nav {
  border-top: 1px solid #cfcfcf;
  margin-top: 85px;
  margin-left: 30%;
}

.carousel-caption{
  bottom: 10% !important
}
.carousel-caption h5 {
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 56pt;
  color: rgba(22, 25, 24, 255);
  text-align: left;
}

.carousel-caption p {
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 13pt;
  color: rgba(127, 127, 127, 255);
  text-align: left;
  width: 356px;
}

.carousel-control-next,
.carousel-control-prev {
  width: 45px;
  height: 45px;
  border: 2px solid #FFF;
  border-radius: 50%;
  top: 50%;
  opacity: 1
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgba(0, 0, 0, .7)
}
.carousel-control-next{
  right: 20px
}
.carousel-control-prev{
  left: 20px
}
.carousel-indicators {
  float: left;
  margin-top: 150px;
  justify-content: left;
  margin-left: -191px;
  position: relative !important ;

}
.carousel-indicators li{
	height: 10px;
  width: 10px;
	background: rgba(255,255,255,.8)
}
.carousel-indicators .active{
	background: rgba(0,0,0,.8)
}
.discover-btn {
  float: left;
  background: #000;
  height: 56px;
  width: 194px;
  margin-top: 47px;
  font-size: 11pt;
}

/* header end */

/* banner start */
.banner {
  margin-top: 100px;
}

.banner h3 {
  margin-top: 20px;
  color: rgba(0, 0, 0, 255);
  font-size: 20px;
}

.banner p {
  color: rgba(146, 146, 146, 255);
  font-size: 15px;
  margin-top: 10px;
}
.banner-img {
  position: relative;
	margin-bottom: 20px
}
.banner-btn {
  margin-bottom: 30px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 63px;
  width: 251px;
  background: #FFF;
  margin-top: -100px;
  z-index: 3;
}
.banner-btn-black {
  background-color: black;

}
.banner-btn-black a {
  color: #fff;
}
.banner-pic {
  margin-top: 100px;
}

/* Top Trending start */
.section {
  margin-top: 50px;
}

.section-header h3 {
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 42pt;
  color: rgba(22, 25, 24, 255);
}

.section-header p {
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 13pt;
  color: rgba(146, 146, 146, 255);
  text-align: center;
}

.simplefilter li,
.multifilter li,
.sortandshuffle li {
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 12px;
  text-transform: uppercase;
  border: none;
  background: none;
  border-bottom: 5px solid #fff;
}

.simplefilter li {
  border: 1px solid transparent;
  background: none;
  position: relative;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  letter-spacing: 2px;
  color: #292929;
  font-size: 1em;
  background-color: #eeeeee;
}
.simplefilter ul::after {
  border-color: #EEE transparent transparent;
}
.simplefilter li::after {
  content: "";
	position: absolute;
	border-width: 13px;
    border-style: solid;
    border-color: #292929 transparent transparent;
    top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.simplefilter li.active,
.simplefilter li:hover {
  color: #fff;
  background: #292929;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.w3ls-section {
  padding: 5% 0px;
}
.sub-main{
	padding-top: 20px;
	padding-bottom: 40px
}
#top-trending .content:not(:first-of-type){
  	display: none
}
.sub-main span{
	color: #8888;
	font-weight: 400;
	font-family: 'Open Sans';
	font-size: 13px;
	margin-right: 20px
}
#top-trending button a{
	color: #FFF
}
#top-trending .overlay{
	width: 100%
}
#top-trending img{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1
}
#top-trending .overlay {
	position: relative
}

#top-trending .overlay a{
	display: block;
	position: relative;
	width: 100%;
	height: 300px;
	z-index: 33
}
#top-trending .overlay .quick ,
#top-trending .overlay .more{
	position: absolute;
	left: 20%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 99;
  width: 40%;
  float: left;
}
#top-trending .overlay .quick {
	bottom: 0px;
  left: 150px;
}
#top-trending .overlay .more{
	bottom: 0;
  left:  -10;
}
#top-trending .overlay .quick a,
#top-trending .overlay .more a{
	opacity: 0;
	height: 39px;
	width: 100px;
  float: left;
	line-height: 39px
}
#top-trending .product:hover .overlay .quick a,
#top-trending .product:hover .overlay .more a{
	opacity: 1;
	font-size: 9pt
}
#top-trending .color{
    display: none;
	margin: auto
}
#top-trending .price{
     display: block
}
#top-trending .color span{
    height: 20px;
	width: 20px;
	margin-right: 5px;
	display: inline-block
}
#top-trending .color span:first-of-type{
    background: #efacac
}
#top-trending .color span:nth-of-type(2){
    background: #edd9a2
}
#top-trending .color span:nth-of-type(3){
    background: #b0dfb8
}
#top-trending .color span:nth-of-type(4){
    background: #b7cdd4
}
#top-trending .color span:hover{
    height: 23px;
	width: 23px;
}
#top-trending .overlay .quick a{
	background: rgba(0,0,0,.8);
	color: #FFF;
}
#top-trending .overlay .more a{
	background: rgba(255,255,255,.8);
	color: #000;
}
#top-trending .product:hover .overlay .img-over{
	background: rgba(197,197,197,.5);
}
#top-trending .product:hover .price , #top-trending .product:hover .sale , #top-trending .product:hover .new{
     display: none
}
#top-trending .product:hover .color{
     display: block
}
#top-trending h4{
	font-size: 14px;
	color: rgba(22, 25, 24, 255);
}
#top-trending .content p{
	font-size: 16pt;
	color: rgba(146, 146, 146, 255);
}
#top-trending small{
	color: rgba(146, 146, 146, 255);
	text-decoration: line-through;
	font-size: 9pt
}
.new {
	 position: absolute;
    top: 10px;
    z-index: 999;
    padding: 2px 5px;
    color: #FFF;
    right: 25px;
  	background: #000;
}
.sale{
  position: absolute;
    top: 10px;
    z-index: 999;
    padding: 2px 5px;
    color: #FFF;
	left: 25px;
	background: #c55353;
}
#top-trending .rows ,
#top-trending .rows .content{
	width: 100%
}
#top-trending .rows .product{
	padding-left: 15px;
	padding-bottom: 15px;
	float: left;
	margin-top: 20px
}
#top-trending buton{
	margin: auto 30px auto 30px;
	background: #000;
	font-size: 14px;
	padding: 12px 25px;
	font-weight: 700;
	-webkit-box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	-moz-box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	-o-box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	box-shadow: 1px 1px 2px #ccc , -1px -1px 2px #ccc;
	margin-bottom: 40px
}
#top-trending buton a{
	color: #FFF
}
#top-trending buton:hover{
	background: #fff
}
#top-trending buton:hover a{
	color: #000
}
/* Top Trending end */

/* prodect start */
#prodect {
  height: 300px;
  padding-top: 20px;
  margin-top: 0px;
  margin-top: 50px;
}

#prodect-image {
  float: left;
}

#prodect-image img {
  height: 100%;
  width: 100%;
}

.prodect-title {
  font-size: 42px;
  color: rgba(22, 25, 24, 255);

}

.pordect-rigth {
  background-color: #fafafa;
  padding-top: 40px;
  margin-left: -50px;
}

.discovery-btn {
  border: 1px solid black;
  margin-top: 20px;
}

.prodect-desc {
  color: rgba(146, 146, 146, 255);

}

/* logo section */
.logos {
  margin-top: 30px;
}

.instgram {
  margin-top: 60px;
}

.instgram-image img {
  width: 115%;
}

.instgram-word {
  z-index: 3;
  margin-top: -140px;
  color: white;
  font-size: 30px;
  font-family: Montserrat-Regular, AdobeInvisFont, MyriadPro-Regular;
}

/* map section */
#map {
  margin-top: -58px;
  height: 300px;
  width: 100%;
}

#map img {
  width: 100%;
}

.address {
  width: 250px;
  height: 150px;
  z-index: 3;
  margin-left: 50%;
  margin-top: -240px;
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
  background-color: white;
}

/* footer start */
.footer-email {
  padding: 10px;
  float: left;
  padding-left: 20px;
  width: 100%;
  margin-top: 10px;
}

.subscribe-btn {
  margin-top: 20px;
}

.footer_cloumn_dec ul {
  list-style-type: none;
  text-align: left;
  margin-left: -34px;
}

.footer_cloumn_dec,
.footer_cloumn_dec ul li a {
  color: rgba(146, 146, 146, 255);
}

footer {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 60px;
}

.footer_body {
  margin-left: 80px;
}

.footer_cloumn_dec {
  margin-top: 20px;
}

.icon-footer {
  margin-top: 20px;
}

.icon-footer i {
  margin-left: 5px;
}

.last-footer {
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 20px;
  padding-bottom: 50px;
  color: rgba(149, 148, 148, 255);
  margin-top: 50px;
}

.footer-image {
  margin-left: 100px;
}

/* footer end */

/* media query */
@media (min-width:768px) and (max-width:991px) {
  .button-nav {
    margin-top: 70px;
    float: left;
  }

  .logo-image {
    margin-left: 70px;
  }

  .pordect-rigth {
    margin-left: 0px;
    width: 60%;
  }

  .instgram-image img {
    width: 130%;
  }

  .address {
    margin-top: -280px;
  }
}

@media (min-width:550px) and (max-width:767px) {
  .button-nav {
    margin-top: 70px;
    float: left;
  }

  .logo,
  .share {
    margin-left: 0px;
  }

  .header-caption h5 {
    font-size: 30px;
  }

  .header-caption p {
    font-size: 18px;
  }

  #top-trending .section-header h3 {
    font-size: 20px;
  }

  #top-trending .section-header p {
    font-size: 15px;
  }

  .simplefilter li {
    width: 120px;
  }

  .filtr-container {
    width: 190%;
  }

  .logo-image {
    margin-left: 70px;
  }

  .pordect-rigth {
    margin-left: 0px;
    width: 50%;
  }

  .prodect-image {
    width: 40%;
  }

  .prodect-title {
    font-size: 20px;
  }

  .prodect-desc {
    font-size: 15px;
  }

  .logo-image img {
    width: 200%;
    margin-left: 10px;
  }

  .instgram-image img {
    width: 880%;
  }

  .address {
    margin-top: -300px;
    margin-left: 300px;
    font-size: 12px;
  }

}
